Source: graphite
Section: utils
Priority: optional
Maintainer: OSOps Packaging <osops-packaging@lists.launchpad.net>
XCBS-Original-Maintainer: Arthur Gautier <arthur.gautier@savoirfairelinux.com>, Ilya Zakreuski <izakreuski@gmail.com>
Uploaders: Ron Pedde <ron@pedde.com>
Build-Depends: debhelper (>= 7.0.50~)
Build-Depends-Indep: python-support (>= 0.90.0),
 python-setuptools (>= 0.6b3-1~)
Standards-Version: 3.9.1
XS-Python-Version: all
Homepage: http://graphite.wikidot.com
Vcs-Bzr: https://code.launchpad.net/~graphite-dev/graphite/debian-packaging

Package: graphite
Architecture: all
Depends: ${python:Depends}, ${misc:Depends},
 python-cairo,
 python-carbon,
 python-django,
 python-simplejson,
 libapache2-mod-python,
 libjs-scriptaculous,
 python-django-tagging
Suggests: python-ldap, python-memcache
XB-Python-Version: ${python:Versions}
Description: Enterprise Scalable Realtime Graphing
 Graphite consists of a storage backend and a web-based visualization
 frontend. Client applications send streams of numeric time-series
 data to the Graphite backend (called carbon), where it gets stored in
 fixed-size database files similar in design to RRD. The web frontend
 provides 2 distinct user interfaces for visualizing this data in
 graphs as well as a simple URL-based API for direct graph generation.
 .
 Graphite's design is focused on providing simple interfaces (both to
 users and applications), real-time visualization, high-availability,
 and enterprise scalability.

