#!/usr/bin/make -f
# -*- makefile -*-

python_version := $(shell pyversions -d)

%:
	dh $@

override_dh_auto_configure:
	sed -e "s/#PYTHON_VERSION#/$(python_version)/g" debian/conf/apache2.conf.in > debian/conf/apache2.conf
	sed -e "s/#PYTHON_VERSION#/$(python_version)/g" debian/postinst.in > debian/postinst

override_dh_auto_install:
	dh_auto_install
	ls -lR debian/graphite > /tmp/list.txt


	find debian/graphite/usr/share/graphite/webapp -type f -exec chmod 644 {} \;

	mkdir -p debian/graphite/var/lib/graphite
	mkdir -p debian/graphite/usr/bin
	mv debian/graphite/usr/share/graphite/storage debian/graphite/var/lib/graphite
	mv debian/graphite/usr/share/graphite/bin/run-graphite-devel-server.py debian/graphite/usr/bin/run-graphite-devel-server
	mv debian/graphite/usr/share/graphite/bin/build-index.sh debian/graphite/usr/bin/build-index.sh
	rm -rf debian/graphite/usr/share/graphite/bin

.PHONY: override_dh_auto_configure override_dh_auto_install

